
* {
    box-sizing: border-box;
}


/* imported fonts */

  /* playfair-display-regular - latin */
  @font-face {
    font-family: 'Playfair-Display';
    font-style: normal;
    font-weight: regular;
    src: local(''), url('/fonts/playfair-display-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v29-latin-regular.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* playfair-display-500 - latin */
  @font-face {
    font-family: 'Playfair-Display';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('/fonts/playfair-display-v30-latin-500.woff') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v29-latin-500.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* playfair-display-700 - latin */
  @font-face {
    font-family: 'Playfair-Display';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/playfair-display-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v29-latin-700.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* playfair-display-800 - latin */
  @font-face {
    font-family: 'Playfair-Display';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('/fonts/playfair-display-v30-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v29-latin-800.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* playfair-display-900 - latin */
  @font-face {
    font-family: 'Playfair-Display';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('/fonts/playfair-display-v30-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v29-latin-900.woff') format('woff');
    
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }



html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;

}

/* Going to want to use flexbox to line these objects up side by side */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.75em;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid black;


}

.brand-title {
    font-size: 1.5625em;
    margin-left: 4em;
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: none;



}

.nav-bar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 4em;
}

.nav-bar-links li {
    list-style: none;
}

.nav-bar-links a {

    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    font-size: 1.4em;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

/* Now we style the animation to hover over the links*/

.nav-bar-links a:hover{
   color: grey;
   -webkit-transform: scale(1.03);
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;

}


 #main {
    /* display: flex; */
    margin-top: 7.375em;
    margin-left: 6.5em;
    margin-right: 4.5em;
}

#project-display-top {
    display: flex;
    /* justify-content: space-evenly; */

    /* align-items: center; */
}

.project-div0, .project-div1, .project-div2, .project-div3 {
    border: 5px solid black;
    border-radius: 5px;
    height: 25em;
    text-align: left;
    width: 50em;
    align-items: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;

}

.project-div0 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    /* opacity: 0.5; */

}

.textbackground {
    position: absolute;
    background-color: #D1D1D1;
    width: 55vw;
    height: 10vw;
    
    margin-top: 15em;
    margin-left: auto;
    margin-right: auto;

}

#textbackgroundcontent {
    font-family: 'Playfair Display', serif;

    bottom: 0;
    left: 0;
    font-size: 9vw;
    

    color: black;
    font-weight: bold;
}

.project-div0:hover {
    -webkit-transform:scale(1.01);
}

/* .project-div1 {
    border: 1px solid blue;

}
.project-div2 {
    border: 1px solid blue;

}
.project-div3 {
    border: 1px solid blue;

} */

.hero-content {
    margin-top: -2em;
    margin-right: 2em;
}



.attention-grabber {
    font-size: 1.75em;
}

.sub-text {
    font-family: 'Playfair-Display', serif;
    font-size: 1.25em;
    letter-spacing: 3%;
    line-height: 2em;
    padding-top: 1em;
}

#elvedin-photo {
    display: flex; 
    align-items: right;
    height: 35.25em;
}

#contactbutton {    
    padding-top: 6.875em;
    text-align: center;
}


/* Button code used from www.tylermarkpeterson.com */

.spot {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  /*
      This is the outer svg wrapper that the SVG itself will 
      fill. Multiple svg-wrapper classes can be put side by side.
  */
  
  .svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    /*make sure to use same height/width as in the html*/
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(108, 201, 255);

  }
  /*
    This is where we define the fill, color, thickness,
    and stroke pattern of the SVG when there is no hover.
    The dasharray and offset together define the line position
    under the words. Here's also where the transition speed is set.
  */
  
  #shape {

    stroke-width: 6px;
    fill: transparent;
    stroke: #000000;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }
  /* 
      Pushing the text up into the SVG. Without this the
      text would be below the div's.
  */
  
  #text {
    margin-top: -35px;
    text-align: center;
  }
  
  #text a {
    font-family: 'Playfair-Display', serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
  }
  /* 
      Changing the shape on hover. I change the color of the stroke,
  make it thinner, then set it to again wrap around the entire parent element.
  */
  
  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 4px;
    stroke-dashoffset: 0;
    stroke: #000000;
  }

   /* #footer {


    } */
  
  .external-links {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-left: 0.8em;
  }

  .footer-button {
    padding-left: 1em;
    padding-right: 1em;

  }
  .footer-button:hover img {
    transform: scale(1.10);
}



@media (max-width: 2200px){

    .textbackground {
        position: absolute;
        background-color: #D1D1D1;
        width: 28vw;
        height: 5vw;
        
        margin-top: 15em;
        margin-left: auto;
        margin-right: auto;
    
    }
    
    #textbackgroundcontent {
        font-family: 'Playfair Display', serif;
    
        bottom: 0;
        left: 0;
        font-size: 4.5vw;
        
    
        color: black;
        font-weight: bold;
    }
}

@media (max-width: 1050px){
    
    #project-display-top {
        display: flex;
        margin-top: 3em;
        margin-left: 3em;
        margin-right: 3em;
        /* justify-content: space-evenly; */
    
        /* align-items: center; */
    }




    







/* If the browser is less than 480 pixels you then load this css code  */
@media (max-width: 670px){

    #main {
        margin: 0;
        padding: 0;
    }
    
    .brand-title {
        margin-left: 1em;
        padding-top: 0.35em;
    }



    .toggle-button {
        display: flex;
        
    }
    .nav-bar-links{
        display: none;
        width: 100%;
    }

    .navbar {
        height: 3.4375em;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid black;
    }

    .nav-bar-links ul {
        flex-direction: column;
        width: 100%;
        height: 50%;
        padding-top: 4em;
        margin-right: -4em;
        background-color: rgb(255, 255, 255);
        position: absolute;

    
    }

    .nav-bar-links li{
        text-align: center;
    }

    .nav-bar-links li a {
        padding: 1rem 1rem;
    }
    .nav-bar-links.active {
        display: flex;
    }

    #hero {
        display: block;
        justify-content: column;
        /* align-items: center; */
    }
    
    .hero-content {
        text-align: left;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;

    }
    
    
    
    .attention-grabber {
        font-size: 1.75em;
    }
    
    .sub-text {
        font-family: 'Playfair-Display', serif;
        font-size: 1.25em;
        letter-spacing: 3%;
        line-height: 2em;
        padding-top: 1em;
    }
    
    #elvedin-photo {
        display: block;
        margin-top: 5em;
        margin-left: auto;
        margin-right: auto 
    }  
    

    #shape {
        display: none;
      }

      .external-links {
        display: block;
        margin-top: em;
        margin-left: auto;
        margin-right: auto 
      }
}





}